.{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: none;
}

body{
    height: 100vh;
    background: url(bg.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card{
    width: 600px;
    text-align: center;
    border-radius: 50px;
    overflow: hidden;
}

.card-header{
    background: #1a2739;;
    padding: 60px 40px;
}

.pic{
    display: inline-block;
    padding: 2px;
    background: linear-gradient(130deg, #74b9ff, #e66767);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient{
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }
}

.pic img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name{
    color: #f2f2f2;
    font-size: 29px;
    font-weight: 600;
    margin: 10px 0;
    font-family: sans-serif;
}

.desc{
    font-size: 18px;
    color: #5d82fc;
    font-family: sans-serif;
}

.sm{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.sm a{
    color: #f2f2f2;
    width: 56px;
    font-size: 22px;
    transition: .3s linear;
}

.sm a:hover{
    color: #5a5a5a
}

.contact-btn{
    display: inline-block;	
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 15px 15px 0;
	outline: none;
	border: none;  
	border-radius: 4px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	background-color: #377becab;
	box-shadow: 0 2px #21487f;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
    font-family: sans-serif;
}

.subscribe-btn{
    display: inline-block;	
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 15px 15px 0;
	outline: none;
	border: none;  
	border-radius: 4px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	background-color: #37ec3cab;
	box-shadow: 0 2px #21487f;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
    font-family: sans-serif;
}

.container{
    width: 200px;
    position: relative;
}

.click{
    background-color: #377becab;
}

.click :hover{
    background-color: #ff0c0c;
}

.click,.links{
    padding: 12px;
    font-size: 1.1em;
    border: none;
    outline: none;
    color: #ffffff;
    transition: 0.3s;
    font-family: sans-serif;
    width: 600px;
    display: flex;
}

.list{
   position: absolute; 
   transform: scaleY(0);
   transform-origin: top;
   transition: 0.3s;
}

.newlist{
    transform: scaleY(1);
}

.links{
    background-color:#283c63;
}

.links:hover{
    background-color: #01579B;
    transform: scale(1.1);
}

.contact-btn:hover{
    background: #6a6a6a9f;
    color: #ffffff;
}

.subscribe-btn:hover{
    background: #6a6a6a9f;
    color: #ffffff;
}

.card-foter{
    background: #f2f2f2;
    padding: 70px 35px;
}

.numbers{
    display: flex;
    align-items: center;
    font-family: sans-serif;
}

.items{
    flex: 1;
    text-transform: uppercase;
    font-size: 13px;
    color: #e66767;
}

.items span{
    display: block;
    color: #2c3a47;
    font-size: 30px;
}

.border{
    width: 1px;
    height: 30px;
    background: #bbb;
}